body{
    background-color:#ccc;
}
main{
    padding:20rem;
    text-align: center;
    border: 2px solid black;
    margin: 5rem;
}
#box{

    float: center;

    clear: both;
    border-color: black;
}
#signup{

    float: center;
}

#input{
    align-items: center;

}
ul li{
    list-style-type: none;
}
ul{
    padding: 0
}
.info{
    margin-left:35%;
    text-align:left;
}
#email{
    width: 195;
}
