body{
    background-color:#ccc;

}
#box{
    padding: .5em;
    float: center;
    width: 10%;
    clear: both;
    border-color: black;
}
#signup{
    margin-left: 10%;
    float: center;
}
h1{
    margin-left: 5%
}
#input{
    align-items: center;

}