body{
    background-color:#ccc;
    float:center;
}
main{
    padding:2rem;
    text-align: center;
    border: 2px solid black;
    margin: 5rem;
}
#box{

    float: center;

    clear: both;
    border-color: black;
}
#signup{

    float: center;
}

.info input[type=password]{
    width: 40%;
    float:right;
    margin-right:20%;
}
input[type=text], #genoptions{
    width: 40%;
    float:right;
    margin-right: 20%;
    
}
#input{
    align-items: center;

}
ul li{
    list-style-type: none;
}
ul{
    padding: 0
}
.info{
    margin-left:auto;
    margin-right: auto;
    text-align:center;
}

input[type=submit]{
    margin-right: 1rem;
}
.buttons{
    padding: .5rem;
}
.gender{
    display:inline;
}

.text_info{
    width:70%;
    margin-left:auto;
    margin-right: auto;
    text-align:left;
}
#input, #login_info{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}
