header {
    background-color: rgba(25, 124, 211, 0.219);
}
body{
    background-color:None;
}

/*All Code Below is for stlying the top bar below title */

.topbar {
    overflow: hidden;
    background-color: #ccc;      /* #e9e9e9 */
} 
.topbar input {
  height: 5%;
  float: right;
  display: block;
  margin-right: 2px;
  margin-top: 8px;
  margin-bottom: 15px
}

.topbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  /* Change the color of links on hover */
  .topbar a:hover {
    background-color: #ddd;
    color: black;
  }
  /* Style the "active" element to highlight the current page */
.topbar a.active {
    background-color: #2196F3;
    color: white;
}
  /* Style the search box inside the navigation bar */
.topbar input[type=text] {
    float: right;
    padding: 5px;
    border: none;
    margin-top: 8px;
    margin-right: 3%;
    font-size: 17px;
}
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topbar a, .topbar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topbar input[type=text] {
      border: 1px solid #ccc;
    }
  }

#wrapper{
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    margin-bottom: 3rem;
}
#center{
    background-color: lightgrey;
    display: flex;
    float: left;
    overflow: auto;
    padding: 1%;
    margin: auto;
    width: 60%;
    flex: 2;
}
#center p{
    text-align: left;
    font-size: medium;
}
#right{
    background-color:darkgrey;
    float: right;
    display: flex;
    overflow: auto;
    margin: auto;
    padding: 1%;
    width: 35%;
    flex: 1;
    /*height: 15%; */
}
#right p{
    text-align: left;
    font-size: medium;
}
ul{
  list-style: None;
  text-align: left;
  margin: 0;
}

.border{
  border: 2px solid black;
  border-radius: 10px;
  padding: .5rem;
}
.footer {
    background-color: #F1F1F1;
    width: 70%;
    text-align: center;
    padding: 10px;
  }
.footer p{
  text-align: center;
}
.post{
  float: center;
  flex: 1;
}
