header {
    /* background-color: rgba(25, 124, 211, 0.219); */
    background-color: lightblue;
    opacity: .9;
    
}
body{
    background-color:None;
}

h1{
    margin: 0;
}
/*All Code Below is for stlying the top bar below title */

.topbar {
    overflow: hidden;
    /* background-color: #ccc;      #e9e9e9 */
    background-color: white;
    padding: 8px;
} 
.left_nav{
    float: left;
}
.topbar a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    padding: 14px 16px;
    text-align: center;
    display: block;
    border: 2px solid black;
    border-radius: 2rem;
    background-color: lightyellow;
    margin-right: .5rem;
}
  /* Change the color of links on hover */
  .topbar a:hover {
    /* background-color: #ddd; */
    background-color: lightgoldenrodyellow;
    color: black;
  }
  /* Style the "active" element to highlight the current page */
.topbar a.active {
    background-color: #2196F3;
    color: white;
}
  /* Style the search box inside the navigation bar */
.topbar input[type=text] {
    padding: 14px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 2rem;
    outline:none;
}
input[type=text]:active{
    background-color: lightskyblue;
    border-radius: 2rem;
}
input[type=button]{
    font-size: 17px;
    padding: 14px;   
    margin-right:1rem;
    border-radius: 2rem;
    outline:none;
}
input[type=button]:hover{
    background-color: lightpink;
}
form{
    display:inline;
    margin: 0;
}
.nav_right{
    float:right;
}
.right_nav{
    float: right;
}
#signup{
    background-color: lightsalmon;
    margin-right: 0;
}
#signup:hover{
    background-color: salmon;
}
#login:hover{
    background-color:lightsalmon
}

  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .left_nav, .topbar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topbar input[type=text] {
      border: 1px solid #ccc;
    }
  }

#wrapper{
    width: 100%;
    background-image: url("music.jpg") ;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    margin-bottom: 3rem;
}

#center{
    background-color:rgb(216, 179, 178);
    float: left;
    /*
    display: flex;
    overflow: auto;
    */
    padding: 1%;
    margin: auto;
    width: 60%;
    flex: 2;
}
#center p{
    text-align: left;
    font-size: medium;
}
#right{
    background-color:darkgrey;
    float: right;
    display: flex;
    overflow: auto;
    margin: auto;
    padding: 1%;
    width: 35%;
    flex: 1;
}
#right p{
    text-align: left;
    font-size: medium;
}

.border{
  border: 2px solid black;
  border-radius: 10px;
  padding: .5rem;
}
.footer {
    background-color: #a59090;
    width: 50%;
    padding: 10px;
  }
#foot{
    width: 30%;
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    padding: .5rem;
}
#banner{
    width: 100%;
    height: 50%;
}
#first{
    margin: 0 auto;
    padding: 1%;
    margin-top: 1%;
    width: 75%;

}
